body {
    background-color: lightsteelblue;
}
h1 {
    text-align: center;
    font-family: fantasy;
    color:lawngreen;
}
.h2 {
    text-align: center;
    font-family:monospace;
}
.bold_text {
    font-weight: 900;
}
.row {
    text-align: center;
}
.card-hidden{
    background-image: default;
}
.card {
    display: inline-flex;
    width: 100px;
    height: 100px;
    background: coral;
    cursor: pointer;
    border-radius: 20%;
    margin: 3px;
    background-position: center center;
    background-size: 50px;
    font-size: inherit;
    object-fit: scale-down;
    background-repeat: no-repeat;
}
.card:hover {
    background: blueviolet;
}
.card.dA {
    background-image: url("/images/diamonds/diamonds-A.svg"); 
    font-size: 6px;
}
.card.flip {
    transform: rotateY(180deg);
}
.red {
    background-color: red;
}
.blue {
    background-color: blue
}
.pink{
    background-color: pink
}
.black{
    background-color: black
}
.white{
    background-color: white
}
.green{
    background-color: greenyellow
}
.brown{
    background-color: brown
}
[data-emoji=emoji1] {
    background-image: url("images/hugLoveEmoji.png");
    background-color: violet;
    background-size: 60px;
}
[data-emoji=emoji2] {
    background-image: url("images/Surprised_Emoji.png");
    background-color: greenyellow;
    background-size: 46px;
}
[data-emoji=emoji3] {
    background-image: url("images/Unamused-Face-Emoji-PNG.png");
    background-color: cornflowerblue
}
[data-emoji=emoji4]{
    background-image: url("images/virus.png");
    background-color: crimson;
}
[data-emoji=emoji5]{
    background-image: url("images/robot.png");
    background-color: pink
}
[data-emoji=emoji6]{
    background-image: url("images/scared.png");
    background-color:blue
}
[data-emoji=emoji7]{
    background-image: url("images/smile.jpeg");
    background-color: white
}
[data-emoji=emoji8]{
    background-image: url("images/alien.png");
    background-color: black;
}
.buttons{
    text-align: center;
}