body {
    background-color: lightsteelblue;
}
h1 {
    text-align: center;
    font-family: fantasy;
    color:lawngreen;
}
.h2 {
    text-align: center;
    font-family: cursive;
}
.bold_text {
    font-weight: 900;
}
.row {
    text-align: center;
}

.card {
    display: inline-flex;
    width: 100px;
    height: 100px;
    background: coral;
    cursor: pointer;
    border-radius: 20%;
    margin: 3px;
}
.card:hover {
    background: blueviolet;
}
.card.dA {
    background-image: url("/images/diamonds/diamonds-A.svg"); 
}
.card.flip {
    transform: rotateY(180deg);
}
